<a href="https://colab.research.google.com/github/adel-nouar/ML_with_Rune/blob/main/07%20-%20Project%20-%20Deep%20Neural%20Network.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project: Deep Neural Network
- Identify false banknotes

### Step 1: Import libraries

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential

### Step 2: Read the data
- Use Pandas [read_csv](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html) method to read **files/banknotes.csv**

In [2]:
data = pd.read_csv('banknotes.csv')
data.head()

   variance  skewness  curtosis  entropy  class
0  -0.89569   3.00250 -3.606700 -3.44570      1
1   3.47690  -0.15314  2.530000  2.44950      0
2   3.91020   6.06500 -2.453400 -0.68234      0
3   0.60731   3.95440 -4.772000 -4.48530      1
4   2.37180   7.49080  0.015989 -1.74140      0

### Step 3: Investitigate the data
- Check how many classes (class)
    - HINT: use [unique()](https://pandas.pydata.org/docs/reference/api/pandas.unique.html)
- Check for missing data
    - HINT: use [isna()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.isna.html)[.sum()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sum.html)

In [3]:
data['class'].unique()

array([1, 0])

In [4]:
data.isna().sum()

variance    0
skewness    0
curtosis    0
entropy     0
class       0
dtype: int64

### Step 4: Divite data into feature vectors and labels
- Assign the feature vectors to $X$
    - HINT: that is all but the last column of the data
- Assign the labels to $y$
    - HINT: that is the last column (**class**)

In [6]:
X = data.iloc[:,:-1]
y = data.iloc[:,-1]
X.head()

   variance  skewness  curtosis  entropy
0  -0.89569   3.00250 -3.606700 -3.44570
1   3.47690  -0.15314  2.530000  2.44950
2   3.91020   6.06500 -2.453400 -0.68234
3   0.60731   3.95440 -4.772000 -4.48530
4   2.37180   7.49080  0.015989 -1.74140

In [7]:
y.head()

0    1
1    0
2    0
3    1
4    0
Name: class, dtype: int64

### Step 5: Create training and test datasets
- Split $X$ and $y$ into train and test sets using **train_test_split** with **test_size=.4**

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.4, random_state=42)

### Step 6: Create and compile the model
- Create a **Sequential** model
    - **Dense** with 8 nodes with **input_dim=4, activaition='relu'**
    - **Dense** with 1 (the output node) with **activaition='sigmoid'**
- Complie the model with **optimizer='adam', loss='binary_crossentropy', metrics=['accuracy']**

In [21]:
model = Sequential()
model.add(Dense(8, input_dim = 4, activation='relu'))
model.add(Dense(1, activation='sigmoid'))
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

### Step 7: Fit and test the accuracy
- Fit the model on training data with **epochs=20**
- Evaluate the model with test data with **verbose=2**

In [22]:
model.fit(X_train, y_train, epochs=20)
model.evaluate(X_test, y_test, verbose=2)

Epoch 1/20
26/26 [==============================] - 0s 1ms/step - loss: 1.8821 - accuracy: 0.5553
Epoch 2/20
26/26 [==============================] - 0s 1ms/step - loss: 1.6350 - accuracy: 0.5553
Epoch 3/20
26/26 [==============================] - 0s 1ms/step - loss: 1.4252 - accuracy: 0.5565
Epoch 4/20
26/26 [==============================] - 0s 1ms/step - loss: 1.2408 - accuracy: 0.5577
Epoch 5/20
26/26 [==============================] - 0s 2ms/step - loss: 1.0961 - accuracy: 0.5626
Epoch 6/20
26/26 [==============================] - 0s 2ms/step - loss: 0.9731 - accuracy: 0.5638
Epoch 7/20
26/26 [==============================] - 0s 1ms/step - loss: 0.8733 - accuracy: 0.5650
Epoch 8/20
26/26 [==============================] - 0s 1ms/step - loss: 0.7873 - accuracy: 0.5662
Epoch 9/20
26/26 [==============================] - 0s 2ms/step - loss: 0.7137 - accuracy: 0.5650
Epoch 10/20
26/26 [==============================] - 0s 2ms/step - loss: 0.6466 - accuracy: 0.5699
Epoch 11/20
26/26 [==============================] - 0s 2ms/step - loss: 0.5867 - accuracy: 0.5832
Epoch 12/20
26/26 [==============================] - 0s 3ms/step - loss: 0.5342 - accuracy: 0.6100
Epoch 13/20
26/26 [==============================] - 0s 2ms/step - loss: 0.4878 - accuracy: 0.6646
Epoch 14/20
26/26 [==============================] - 0s 2ms/step - loss: 0.4469 - accuracy: 0.7047
Epoch 15/20
26/26 [==============================] - 0s 2ms/step - loss: 0.4120 - accuracy: 0.7290
Epoch 16/20
26/26 [==============================] - 0s 2ms/step - loss: 0.3822 - accuracy: 0.7631
Epoch 17/20
26/26 [==============================] - 0s 2ms/step - loss: 0.3572 - accuracy: 0.8202
Epoch 18/20
26/26 [==============================] - 0s 1ms/step - loss: 0.3358 - accuracy: 0.8493
Epoch 19/20
26/26 [==============================] - 0s 1ms/step - loss: 0.3182 - accuracy: 0.8809
Epoch 20/20
26/26 [==============================] - 0s 1ms/step - loss: 0.3009 - accuracy: 0.9332
18/18 - 0s - loss: 0.2807 - accuracy: 0.9545

[0.28072458505630493, 0.9544626474380493]

### Step 8 (Optional): Add another hidden layer
- Add another hidden layer in the model
- Test performance

In [31]:
model = Sequential()
model.add(Dense(8, input_dim = 4, activation='relu'))
model.add(Dense(4, activation='relu'))
model.add(Dense(1, activation='sigmoid'))
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [32]:
model.fit(X_train, y_train, epochs=20)
model.evaluate(X_test, y_test, verbose=2)

Epoch 1/20
26/26 [==============================] - 1s 1ms/step - loss: 1.3835 - accuracy: 0.4399
Epoch 2/20
26/26 [==============================] - 0s 1ms/step - loss: 1.1401 - accuracy: 0.4435
Epoch 3/20
26/26 [==============================] - 0s 2ms/step - loss: 0.9404 - accuracy: 0.4484
Epoch 4/20
26/26 [==============================] - 0s 1ms/step - loss: 0.7894 - accuracy: 0.4593
Epoch 5/20
26/26 [==============================] - 0s 2ms/step - loss: 0.6777 - accuracy: 0.4957
Epoch 6/20
26/26 [==============================] - 0s 1ms/step - loss: 0.6009 - accuracy: 0.6282
Epoch 7/20
26/26 [==============================] - 0s 2ms/step - loss: 0.5310 - accuracy: 0.7631
Epoch 8/20
26/26 [==============================] - 0s 2ms/step - loss: 0.4526 - accuracy: 0.8044
Epoch 9/20
26/26 [==============================] - 0s 2ms/step - loss: 0.3933 - accuracy: 0.8445
Epoch 10/20
26/26 [==============================] - 0s 2ms/step - loss: 0.3476 - accuracy: 0.8688
Epoch 11/20
26/26 [==============================] - 0s 2ms/step - loss: 0.3089 - accuracy: 0.8809
Epoch 12/20
26/26 [==============================] - 0s 2ms/step - loss: 0.2744 - accuracy: 0.8919
Epoch 13/20
26/26 [==============================] - 0s 2ms/step - loss: 0.2419 - accuracy: 0.9040
Epoch 14/20
26/26 [==============================] - 0s 1ms/step - loss: 0.2115 - accuracy: 0.9137
Epoch 15/20
26/26 [==============================] - 0s 2ms/step - loss: 0.1844 - accuracy: 0.9259
Epoch 16/20
26/26 [==============================] - 0s 2ms/step - loss: 0.1617 - accuracy: 0.9368
Epoch 17/20
26/26 [==============================] - 0s 1ms/step - loss: 0.1431 - accuracy: 0.9490
Epoch 18/20
26/26 [==============================] - 0s 1ms/step - loss: 0.1280 - accuracy: 0.9538
Epoch 19/20
26/26 [==============================] - 0s 1ms/step - loss: 0.1162 - accuracy: 0.9563
Epoch 20/20
26/26 [==============================] - 0s 1ms/step - loss: 0.1059 - accuracy: 0.9635
18/18 - 0s - loss: 0.1007 - accuracy: 0.9581

[0.10065844655036926, 0.9581056237220764]